.wy-side-nav-search {
    background-color: var(--navbar-background-color);
}

.wy-menu-vertical p.caption {
    /* color: var(--navbar-heading-color); */

    /* Improves the appearance of uppercase text */
    letter-spacing: 0.75px;
}

.wy-menu-vertical {
    width: 300px;
    margin-top: 180px !important;
}